[include mainsail.cfg]
[include Speed.cfg]
[exclude_object]

[gcode_arcs]
resolution: 0.1

#####################################################################
#KlackEnder- Settings
#####################################################################

[include KlackEnder.cfg]
# !! Change your Z endstop pin from 'endstop_pin: Pin123' to 'endstop_pin: probe:z_virtual_endstop'
# !! Also add in [stepper_y] 'position_min: -8'. Idk why but most configs have this wrong. For the Stock Ender 3 the homed Y position is -8.

[probe]
pin: ^PC2 #Change to where you plug your probe in, endstop or probe pin pulled high (^)
#z_offset: 1.715 #Measure per your specific setup. Klipper will NOT save this value if this in not located in printer.cfg
x_offset: 4 # negative = left of the nozzle
y_offset: 29 # negative = in front of of the nozzle
speed: 5.0
lift_speed: 15.0
sample_retract_dist: 1
samples: 2
samples_tolerance_retries: 6

[bed_mesh]
speed: 300
horizontal_move_z: 5 #Positive value equal to z_offset or larger. eg: if z_offset is -2.5 this must be at least 2.5 or larger
mesh_min: 8,30
mesh_max: 223,201
probe_count: 8,8
#zero_reference_position: 117.5, 117.5 #for 235x235 bed. adapt to your bed size if needed. same for mesh min and max above
algorithm: bicubic
fade_start: 1
fade_end: 10
#fade_target:
#   The z position in which fade should converge. When this value is set
#   to a non-zero value it must be within the range of z-values in the mesh.
#   Users that wish to converge to the z homing position should set this to 0.
#   Default is the average z value of the mesh.
split_delta_z: 0.015
#   The amount of Z difference (in mm) along a move that will
#   trigger a split. Default is .025.
move_check_distance: 3
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
mesh_pps: 4,4
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
#bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.

[homing_override]
set_position_z:0 # Make printer think Z axis is at zero, so we can force a move upwards away from build plate
axes: z #will only call override if x is involved in the homing call
gcode:
  G90
  G1 Z10 F3000 ; move up to prevent accidentally scratching build plate    
  {% if "x" not in (printer.toolhead.homed_axes | lower) %}
      G28 X
  {% endif %}
  {% if "y" not in (printer.toolhead.homed_axes | lower) %}
      G28 Y        #Will only home XY if they are not currently homed
  {% endif %}
  PROBE_OUT
  G1 X113.5 Y96.5 F6000 ; Adjusted for normal klack offsets with a 235x235 bed X: 117.5 - x_offset, Y: 117.5 - y_offset
  G28 Z
  PROBE_IN
  
[screws_tilt_adjust] #Change to your specific printer is needed. Back left screw as referance point and that's where strain relief is is recommended
screw1: 28.5, 181.5
screw1_name: Back left
screw2: 28.5, 11.5
screw2_name: Front left
screw3: 198.5, 11.5
screw3_name: Front right
screw4: 198.5, 181.5
screw4_name: Back right
screw_thread: CW-M4 #Ender 3s use CW-M4 change for your printer if needed
horizontal_move_z: 10
# To calculate the position of your screws:
# Screw Offsets: 32.5mm for ender 3 beds
# Default Klack probe offsets: X: 4, Y: 21
#Back left	
#   X: 0 + screw_x_offset - probe.x_offset	
#   Y: 235 - screw_y_offset - probe.y_offset
#Front left	
#   X: 0 + screw_x_offset - probe.x_offset	
#   Y: 0 + screw_y_offset - probe.y_offset
#Front right 
#   X: 235 - screw_x_offset - probe.x_offset	
#   Y: 0 + screw_y_offset - probe.y_offset
#Back right	
#   X: 235 - screw_x_offset - probe.x_offset	
#   Y: 235 - screw_y_offset - probe.y_offset
# x and y offsets are usually the same. You will have to find info on your printer or measure them yourself
# This can be adapted for three screw bed as well without eny problem. In that case X offset of the third screw would be build volume divided by 2

[gcode_macro SCREWS_TILT_CALCULATE]
rename_existing: _SCREWS_TILT_CALCULATE
gcode:
  G28 ; Should always home before calculation even if already homed
  probe_out
  _SCREWS_TILT_CALCULATE
  probe_in
  
#####################################################################
#Drivers/Eixos
#####################################################################

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.700
stealthchop_threshold: 0

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 250
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.700
stealthchop_threshold: 0

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: -14
position_max: 235
position_min: -14
homing_speed: 50

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.700
interpolate: false
stealthchop_threshold: 0

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 32
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -8
position_max: 200
full_steps_per_rotation: 200
homing_retract_dist: 5.0
homing_positive_dir: false
homing_speed: 5.0
second_homing_speed: 2.5

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.7
interpolate: False

#####################################################################
#Extruder/Bed
#####################################################################

[thermistor ATC Semitec 104NT-4-R025H42G]
temperature1: 25
resistance1: 100000
temperature2: 160
resistance2: 1074
temperature3: 300
resistance3: 82.78

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
gear_ratio: 80:20
rotation_distance: 22.5
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 1000.0
max_extrude_cross_section: 500
max_extrude_only_velocity: 200
max_extrude_only_accel: 10000
pressure_advance: 0.04
pressure_advance_smooth_time: 0.05
heater_pin: PC8
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA0
min_temp: -50
max_temp: 300

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
min_temp: 0
max_temp: 130

#####################################################################
#Sensores Temperatura
#####################################################################

[temperature_sensor BTT_PI]
sensor_type: temperature_host
min_temp: 10
max_temp: 95

[temperature_sensor SKR]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 95

#####################################################################
#Fans
#####################################################################

[heater_fan extruder_fan]
pin: PC7
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[fan]
pin: PC6
max_power: 1
cycle_time: 0.002
hardware_pwm: false
shutdown_speed: 0

#####################################################################
#printer
#####################################################################

[mcu]
serial: /dev/serial/by-path/platform-5310400.usb-usb-0:1:1.0

[mcu host]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: cartesian
max_velocity: 600 #max 600 300
max_accel: 10000 #max 10000 3000
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5

[idle_timeout]
timeout: 1800
gcode =
  {% if printer.pause_resume.is_paused %}
    M104 S0
  {% else %}
    TURN_OFF_HEATERS
    #M84
  {% endif %}

[static_digital_output usb_pullup_enable]
pins: !PA14

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

#####################################################################
#input shaper
#####################################################################

[input_shaper]
shaper_freq_x: 62.4 # center frequency for the X axis filter
shaper_type_x: mzv  # filter type for the X axis
shaper_freq_y: 35.6 # center frequency for the Y axis filter
shaper_type_y: mzv  # filter type for the Y axis
damping_ratio_x: 0.091 # damping ratio for the X axis
damping_ratio_y: 0.080 # damping ratio for the Y axis

[adxl345]
cs_pin: host:gpio67
spi_bus: spidev0.0

[resonance_tester]
accel_chip: adxl345
probe_points:
    117.5, 117.5,30  # an example

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 0.285
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.472
#*# pid_ki = 2.674
#*# pid_kd = 65.519
#*#
#*# [endstop_phase stepper_z]
#*# trigger_phase = 9/256
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.107500, 0.101875, 0.091250, 0.036875, 0.055000, 0.033750, -0.010625, -0.058125
#*# 	  0.099375, 0.086875, 0.065000, 0.025625, 0.030000, 0.029375, -0.024375, -0.070000
#*# 	  0.081250, 0.072500, 0.049375, 0.015625, 0.016875, 0.005000, -0.036250, -0.078125
#*# 	  0.070000, 0.066250, 0.041250, -0.003125, 0.018750, -0.003750, -0.049375, -0.077500
#*# 	  0.076875, 0.061875, 0.032500, 0.000625, 0.018125, 0.017500, -0.049375, -0.096875
#*# 	  0.103125, 0.070000, 0.056250, 0.012500, 0.015625, 0.001250, -0.041875, -0.093750
#*# 	  0.103125, 0.071875, 0.046250, 0.020625, 0.029375, 0.008125, -0.021250, -0.065000
#*# 	  0.122500, 0.078750, 0.068750, 0.033750, 0.049375, 0.036250, -0.023125, -0.077500
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 8.0
#*# max_x = 222.97
#*# min_y = 30.0
#*# max_y = 200.94000000000005
#*#
#*# [probe]
#*# z_offset = 1.677
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.142
#*# pid_ki = 1.340
#*# pid_kd = 840.950
